---
import { Plus, Trash } from "lucide-react";
import { Button } from "./ui/button";
---

<div class="flex flex-wrap gap-y-4 gap-x-2">
  <Button size="sm" className="gap-1">
    <Plus className="size-4" /> Agregar
  </Button>
  <Button variant="secondary" size="sm" className="gap-1">
    <Trash className="size-4" /> Eliminar
  </Button>
</div>
