---
import { LogOut, Trash } from "lucide-react";
import { Button } from "./ui/button";
import { AddProject } from "./AddProject";
---

<div class="flex flex-wrap gap-y-4 gap-x-2">
  <AddProject client:load />
  <form method="post" action="/api/project/delete">
    <input class="text-black" name="id" id="id" />
    <Button variant="secondary" size="sm" className="gap-1">
      <Trash className="size-4" /> Eliminar
    </Button>
  </form>
  <form action="/api/auth/signout">
    <Button size="sm" type="submit" variant="secondary" className="gap-1">
      <LogOut className="size-4" /> Cerrar sesión
    </Button>
  </form>
</div>
