---
import { TagSelector } from "@/components/TagSelector";
import HamburgerMenu from "@/components/HamburgerMenu";
import { Button } from "./ui/button";
import Instagram from "@/icons/Instagram";
import WhatsApp from "@/icons/WhatsApp";
import { ModeToggle } from "@/components/ModeToggle";
import Mail from "@/icons/Mail";
import Filler from "./Filler";
import Loading from "./Loading";
import { Badge } from "./ui/badge";
---

<header
  class="flex flex-col gap-3 pt-3 pb-2 fixed bg-background/90 backdrop-blur-xl px-2 sm:px-10 max-w-screen-xl w-full mx-auto inset-x-0 z-50"
>
  <nav class="flex justify-between">
    {
      /* <!-- <div className="flex items-center font-bold text-2xl sm:text-3xl">
        <span
          className="bg-slate-800 dark:bg-slate-500 leading-none px-0.5 rounded-md text-white dark:text-black mr-[0.05rem] dark:mr-0.5"
          >G</span
        >
        <h1 className="text-slate-800 dark:text-slate-500">uillermo Escudero</h1>
      </div> --> */
    }
    <a href="/">
      <h1 class="text-2xl sm:text-3xl font-bold leading-10">
        Guillermo Escudero
      </h1>
    </a>
    <HamburgerMenu client:load>
      <li>
        <a href="https://www.instagram.com/escudero_guillermo/" target="_blank">
          <Button variant="outline" className="w-full">
            <span class="ml-1">Instagram</span>
          </Button>
        </a>
      </li>
      <li>
        <a
          href="https://wa.me/2215228316?text=¡Hola!%20Estoy%20interesado%20en%20un%20trabajo."
          target="_blank"
        >
          <Button variant="outline" className="w-full">
            <span class="ml-1"> WhatsApp </span>
          </Button>
        </a>
      </li>
      <li>
        <a href="mailto:guiescudero@hotmail.com" target="_blank">
          <Button variant="outline" className="w-full">
            <span class="ml-1"> Email </span>
          </Button>
        </a>
      </li>
      <li>
        <h2 class="font-bold text-center text-lg mb-3">Preferencias</h2>
        <ModeToggle />
      </li>
    </HamburgerMenu>

    <ul class="hidden sm:flex gap-1 items-start">
      <li>
        <a href="https://www.instagram.com/escudero_guillermo/" target="_blank">
          <span class="sr-only">Instagram</span>
          <Button className="hover:shadow" variant="ghost" size="icon">
            <Instagram className="size-7" />
          </Button>
        </a>
      </li>
      <li>
        <a
          href="https://wa.me/2215228316?text=¡Hola!%20Estoy%20interesado%20en%20un%20trabajo."
          target="_blank"
        >
          <span class="sr-only"> WhatsApp </span>
          <Button className="hover:shadow" variant="ghost" size="icon">
            <WhatsApp className="size-6" />
          </Button>
        </a>
      </li>
      <li>
        <a href="mailto:guiescudero@hotmail.com" target="_blank">
          <span class="sr-only"> Email </span>
          <Button className="hover:shadow" variant="ghost" size="icon">
            <Mail className="size-6" />
          </Button>
        </a>
      </li>
      <li>
        <ModeToggle client:load />
      </li>
    </ul>
    {/* <!-- <MenuOptions /> --> */}
  </nav>
  <div class="flex flex-wrap gap-x-4 gap-y-2 justify-between">
    <div class="sm:place-content-end min-h-7 place-items-end pb-0.5">
      <TagSelector client:only="react">
        <div slot="fallback" class="flex gap-2">
          <Badge className="h-5 w-16 animate-pulse" />
          <Badge variant="secondary" className="h-5 w-16 animate-pulse" />
          <Badge variant="secondary" className="h-5 w-16 animate-pulse" />
          <Badge variant="secondary" className="h-5 w-16 animate-pulse" />
          <Badge variant="secondary" className="h-5 w-16 animate-pulse" />
        </div>
      </TagSelector>
    </div>
    <slot />
  </div>
</header>
<Filler client:only="react" />
